DJANGO_ENV=staging
DJANGO_SECRET_KEY=change-me-to-a-long-random-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=stagingopsvitrinaru.lol,169.239.181.248,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://stagingopsvitrinaru.lol
DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SECURE_HSTS_SECONDS=0

POSTGRES_DB=opsvitrina_staging
POSTGRES_USER=opsvitrina_staging
POSTGRES_PASSWORD=change-me-to-a-strong-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

APP_PORT=127.0.0.1:8010
APP_VERSION=staging
GUNICORN_WORKERS=3
