DJANGO_ENV=production
DJANGO_SECRET_KEY=change-me-to-a-long-random-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=read.lifestoruhabstt.info,169.239.181.248
DJANGO_CSRF_TRUSTED_ORIGINS=https://read.lifestoruhabstt.info
DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SECURE_HSTS_SECONDS=31536000

POSTGRES_DB=opsvitrina_production
POSTGRES_USER=opsvitrina_production
POSTGRES_PASSWORD=change-me-to-a-strong-password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

APP_PORT=127.0.0.1:8020
APP_VERSION=production
GUNICORN_WORKERS=3
